language: android

android:
  components:
    - platform-tools
    - tools
    - build-tools-25.0.0
    - android-19
    - android-25
    - sys-img-armeabi-v7a-android-22
  licenses:
    - 'android-sdk-license-c81a61d9'
    - 'android-sdk-preview-license-52d11cd2'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
    
before_script:
  # Create and start emulator
  - echo no | android create avd --force -n test -t android-25 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &

script: ./gradlew connectedAndroidTest

